// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap");
// Define fonts for body and headers
$body-font: "Roboto Mono", monospace;
$headers-font: "Roboto Mono", monospace;

h1,
button {
  font-family: "Roboto Mono", monospace !important;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  .header{
    font-size: medium;
  }
}

h4 {
  font-family: "Roboto Mono", monospace;
  color: rgba(106, 134, 131, 1);
  font-size: medium;
}

p,
input, label {
  font-family: "Roboto Mono", monospace;
}

a {
  font-family: "Roboto Mono", monospace;
  color: black;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
