<div class="individual-activities-card">
  <%= image_tag picture_url %>
  <div class="row overscroll justify-content-center align-items-center">
    <div class="col-12 activity-name">
      <p><%= name %></p>
    </div>
  </div>
</div>
