<div id="about" class="mt-5" >
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-8">
        <div class="card-about">
          <h2>About Us</h2>
          <%= image_tag "cat.jpg", class:"img" %>
        </div>
      </div>
      <div class="col-4 text-center">
        <p>Welcome to our first website! 
          <br>
          <br>
          We're Yi Tang, Jessica, Tanner, and Yves from Le Wagon Bali batch #649.
          <br>
          <br>
          <em>Plan It For Me</em> is created for lazy travellers by lazy travellers. It's for those who love to travel, but want a quick itinerary ready to inspire them on their trip. We hope you enjoy our amazing website, please add a review if you love cats! 
        </p>
      </div>
    </div>
  </div>
</div>