<div class="container">
  <%# text %>
  <h1>THIS IS OUR HEADER</h1>
  <h2>This is our sub-header</h2>
  <p>This is our paragraph</p>

  <p>Button:</p>
  <button type="button" class="btn btn-flat big-button">Click Me!</button>
  
  <p>Chevrons:</p>
  <i class="chevron fas fa-chevron-left"></i>
  <i class="chevron fas fa-chevron-right"></i>
</div>




