<div class="container">
  <%# text %>
  <h1>THIS IS OUR HEADER</h1>
  <h2>This is our sub-header</h2>
  <p>This is our paragraph</p>

  <p>Button:</p>
  <button type="button" class="btn btn-flat big-button">Click Me!</button>

  <p>Chevrons:</p>
  <i class="chevron fas fa-chevron-left"></i>
  <i class="chevron fas fa-chevron-right"></i>

  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 col-xs-12 d-flex align-items-center flex-column card m-3">
      <h2>Lisbon</h2>
      <div class="card-content">
        <%= image_tag "https://source.unsplash.com/400x300/?mexico" %>
        <div class="info-card d-flex justify-content-between align-items-center">
          <p>Date range</p>
          <i class="fas fa-heart"></i>
        </div>
      </div>
    </div>
  </div>

</div>
