.big-button {
  color: #6a8683;
  border-bottom: 8px solid #6a8683;
  font-weight: bolder;
  padding-bottom: 0px;
  font-size: 30px;
  &:hover {
    color: rgba(106, 134, 131, 0.5);
    border-bottom: 8px solid rgba(106, 134, 131, 0.5);
  }
}

.chevron {
  font-size: 58px;
}

.chevron,
picture {
  color: rgba($color: #000000, $alpha: 0.4);
}

.btn-danger {
  position: relative;
  top: 20px;
}

.btn-save {
  color: white;
  background-color: rgba(106, 134, 131, 1);
  position: relative;
  top: 20px;
}
