.card-polaroid {
  width: 244px;
  height: 234px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 12px;
  padding-bottom: 52px;
  padding-top: 29px;
  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  h2 {
    font-weight: lighter;
    font-size: 29px;
    line-height: 38px;
    text-align: center;
    background-color: white;
    position: absolute;
    top: -4%;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 60%;
  }
  img {
    width: 100%;
    border-radius: 1px;
    max-height: 220px;
    object-fit: cover;
  }

  .info-card {
    margin: 7px auto;
  }
}

.card-map {
  width: 100%;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 12px;
  padding-bottom: 52px;
  padding-top: 29px;
  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  h2 {
    font-weight: lighter;
    font-size: 29px;
    line-height: 38px;
    text-align: center;
    background-color: white;
    position: absolute;
    top: -4%;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 60%;
  }
  img {
    width: 100%;
    border-radius: 1px;
    max-height: 220px;
    object-fit: cover;
  }

  .info-card {
    margin: 7px auto;
  }
}

.image-checkbox {
  &:checked {
    & ~ label {
      border: 6px solid rgba(106, 134, 131, 1);
    }
  }
}

.card {
  width: 100%;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding-top: 32px !important;
  h2 {
    font-size: 1rem;
    text-align: center;
    background-color: white;
    width: 80%;
    position: absolute;
    top: -5%;
    margin: auto;
    left: 0;
    right: 0;
  }
  .card-content {
    margin-top: -15px;
    width: 100%;
    img {
      width: 100%;
      border-radius: 1px;
    }
    p {
      margin: 0;
    }
    i {
      color: $red;
      cursor: pointer;
    }
  }
  .info-card {
    margin: 7px auto;
  }
}

.image-checkbox {
  &:checked {
    & ~ label .card-polaroid {
      border: 6px solid rgba(106, 134, 131, 1);
    }
  }
}

.activities-card {
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 12px;
  padding-bottom: 52px;
  padding-top: 29px;
  .name {
    font-size: 25px;
  }
  .header {
    display: flex;
    width: 60%;
    background: white;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -72px;
    margin: auto;
    justify-content: space-between;
    h2 {
      text-align: center;
      font-weight: bold;
    }
    p {
      text-align: center;
      font-weight: bold;
    }
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
