html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  height: 60px;
  background-color: white;
  border-top: 5px solid #e5e5e5;
  p {
    margin: 0;
  }
}

.footer-icon {
  font-size: 25px;
  span{
    font-size: 1rem
  }
}

#jess-github:hover {
  color: $red
}
#lade-github:hover {
  color: $blue
}
#tang-github:hover {
  color: $yellow
}
#tann-github:hover {
  color: $green
}
