html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  height: 60px;
  background-color: white;
  border-top: 5px solid #e5e5e5;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

.footer-icon {
  font-size: 24px;
}

.footer-hash {
  font-size: 12px;
  .footer-icon {
    font-size: 16px;
  }
}
#jess-github:hover {
  color: #0abab5
}
#lade-github:hover {
  color: #FF474E
}
#tang-github:hover {
  color: #FFC300
}
#tann-github:hover {
  color: #A4D541
}
