.form-border {
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.fa-minus {
  color: red;
}

.fa-plus {
  color: rgba(106, 134, 131, 1);
}

.title {
  h4 {
  color: rgba(106, 134, 131, 1);
  }
}

