.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 5px solid #e5e5e5;
  background: white;
  z-index: 9;
  position: fixed;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-end {
  justify-content: space-between;
  background: white;
}

.progress-bar {
  background-color: #343a40;
}

.progress-icon {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  bottom: -20px;
  &.progress-a {
    margin-left: 33%;
  }
  &.progress-b {
    margin-left: 61%;
  }
  &.progress-c {
    margin-left: 90%;
  }
}
