.search-border {
  width: 64%;
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding-top: 32px !important;
  h2 {
    text-align: center;
    background-color: white;
    width: 60%;
    position: absolute;
    top: -10%;
    margin: auto;
    left: 0;
    right: 0;
  }
}
