// Graphical variables
@import "bootstrap/scss/bootstrap";
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.main-content {
  padding-top: 85px;
}

.container {
  width: 95%;
  margin: 2% auto;
}
