<h1>category index</h1>

<%= simple_form_for :search, url: activities_path, method: 'get' do |f| %>
  <%= f.input :category, label: "Categories", collection: ["Nature","Religion", "Museum", "Art", "Music", "History", "Sport", "Science"], wrapper_html: { class: 'form-group' }, as: :check_boxes, input_html: {name: "search[categories][]", multiple: true} %>
  <!-- ADD CHECKBOX FORM -->



  <!-- This button should be the "next" button -->
  <%= f.submit class: "btn btn-success"%>
<% end %>
