<div class="activity-popup">
  <div class="popup-card">
    <h2><%= @activity.name %></h2>
    <div class="row p-2">
      <div class="popup-desc col-7">
        <%= @activity.description %>
      </div>
      <div class="popup-image col-5">
        <%= image_tag @activity.picture_url, alt: "Image of #{@activity.name}", class: "popup-image" %>
        <div class="links d-flex">
          <a class="popup_link" href="<%= @activity.link %>" target="_blank">Learn More</a>
          <a class="popup_link" id="closeme">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
