<h1>Choose an acitivity</h1>
<hr>
<form action="/action_page.php" method="get">
  <% @activities.values.each do |category| %>
    <% category.each do |activity| %>
      <input type="checkbox" name="<% activity.name %>" value="<% activity.name %>">
      <label for="<% activity.name %>"> <%= activity.name %></label><br>
    <% end %>
  <% end %>
  <input type="submit" value="Submit">
</form>
